.banner {
    background-image: url("./img/banner.jpg");
    background-size: cover;
    height: 300px; /* Adjust height as needed */
    color: white; /* Text color on top of the image */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }