.banner {
    background-image: url("../img/banner.png");
    background-size: cover;
    height: 200px; /* Adjust height as needed */
    color: white; /* Text color on top of the image */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bannerfont{
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
  }