<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <title>Show</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">


    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- Banner Section -->
    <section class="banner">
        <div class="container">
        <h1 class="bannerfont">GAI Application</h1>
        <p>This is a sample of demo GAI</p>
        
        </div>
    </section>
    <!-- End Banner Section -->    
<div id="app">
    <div class="container pt-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="container">
                <div class="row pb-2">
                    <div class="col-sm-4 text-end">電腦名稱</div>
                    <div class="col-sm-8"><input type="text" class="form-control" v-model="pcName"></div>
                </div>
                <div class="row pb-2">
                    <div class="col-sm-4 text-end">資料庫名稱</div>
                    <div class="col-sm-8"><input type="text" class="form-control" v-model="dbName"></div>
                </div>     
                <div class="row pb-2">
                    <div class="col-sm-4 text-end">Table 名稱</div>
                    <div class="col-sm-8"><input type="text" class="form-control" v-model="tbName"></div>
                </div>     
                <div class="row pb-2">
                    <div class="col-sm-4 text-end">Table Schema</div>
                    <div class="col-sm-8"><textarea type="text" class="form-control" v-model="tbSchema"></textarea></div>
                </div>                                                
            </div>            
          </div>
          <div class="col-sm-8">
            <div class="container">
                <div class="row">
                    <div class="col">提示詞</div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" rows="4" v-model="getConnection"></textarea>
                        <a href="#" title="複製"><i class="bi bi-copy"></i></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>


</div>
    <script>
        const { createApp, ref, computed } = Vue

        createApp({
            setup() {
                let message = ref('Hello vue!')
                let pcName = ref("")
                let dbName = ref("")
                let retConnection = ref("")
                let tbName=ref("")
                let tbSchema=ref("")
                let strConnection = "";


                strConnection += '你是個 dotnet 8.0 的 MVC web工程師。如何使用 MS-SQL Express 資料庫?已經知道電腦名稱:'
                strConnection += pcName.value
                strConnection += '，資料庫名稱為:' + dbName.value
                strConnection += '且是使用 Integrated Security=True 的設定方法。請不要遺漏 Program.cs 裡面相依性注入的設定。以 TestDBContext 為類別名稱，繼承 DBContext 以利後續的範例程式。最後並註明此範例支援的 .net 版本。'
                console.log('pcName:', pcName)
                console.log('pcName.value:', pcName.value)

                retConnection.value = strConnection;
                console.log('retConnection.value:', retConnection.value)

                const getConnection = computed({
                    get() {

                        strConnection = '你是個 dotnet 8.0 的 MVC web工程師。如何使用 MS-SQL Express 資料庫?已經知道電腦名稱:'
                        strConnection += pcName.value
                        strConnection += '，資料庫名稱為:' + dbName.value
                        strConnection += '\n且是使用 Integrated Security=True 的設定方法。請不要遺漏 Program.cs 裡面相依性注入的設定。以 TestDBContext 為類別名稱，繼承 DBContext 以利後續的範例程式。最後並註明此範例支援的 .net 版本。'
                        strConnection+='資料庫MarketManagement 有一個資料表 '+ tbName.value+' ，裡面的資料結構如下：\n'
                        strConnection+='"""\n'
                        strConnection+=tbSchema.value
                        strConnection+='\n"""\n'
                        return strConnection
                    }
                })

                return {
                    message, pcName, dbName, retConnection, getConnection,tbName,tbSchema
                }
            }
        }).mount('#app')
    </script>
</body>

</html>